.page{
    max-width:75%;
    max-height:100%;
    width: 100vw;
    margin-left: 12.5%;
    background-color: white;
    -webkit-box-shadow: 10px 10px 56px 15px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 10px 56px 15px rgba(0,0,0,0.52);
    box-shadow: 10px 10px 56px 15px rgba(0,0,0,0.52);
}

.clean-a{
    text-decoration: none;
    color: black;
}

.page-title{
    text-align: center;
    padding-top: 20px;
}

.page-info{
    text-align: center;
}

.page-container{
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.container-item{
    width: 100%;
    clear: both;
    background-color: rgb(245,245,245);
    margin-bottom: 10px;
}

.container-item > img{
    float: left;
    padding-right: 10px;
}

.main-news{
    width: 100%;
    height: 250px;
}

aside{
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    width: 12.5%;
}

.ad-item > img{
    width: 100%;
    margin-bottom: 50px;
}

.news-img{
    width: 100%;
}

.item-container > a{
    padding-bottom: 40px;
}

.item-container{
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.page-img-title{
    position: absolute;
    margin-top: 5%;
    margin-left: 28%;
    color: white;
}

.footer{
    position:fixed;
    max-width: 100%;
    width: 100vw;
    background-color: lightslategray;
    bottom: 0;
    left: 0;
}

.footer > p{
    text-align: center;
    color: white;
}

.page-img-link > a{
    padding-right: 15px;
}
.page-img-link{
    position: absolute;
    margin-top: 14%;
    color: white;
}

.page-info-block{
    margin-left: 30%;
    margin-top: 0;
    margin-bottom: 0;
}